* {
    margin: 0;
    /* padding: 0; */
}

body {
    background-color: #efefef;
    /* border: 2px solid orange; */
}

h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /* border: 2px solid seagreen; */
    font-weight: lighter;
    font-size: 3rem;
    margin-top: 45px;
    /* margin-left: 15rem; */
    text-align: center;
}

p {
    font-size: 1.25rem;
    /* margin-left: px; */
    margin-top: 12px;
    text-align: center;
}


.form {
    border: 5px solid black;
    border-radius: 25px;
    background-color: #fefefe;
    /* border: 2px solid red; */
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 1.75rem;
}

.grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 20px;
}

.right {
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 1.25rem;
}

input[type="text"]:focus {
    background-color: antiquewhite;
}

.padding {
    padding-left: 5px;
    font-size: medium;
}

.marital {
    /* border: 2px solid seagreen; */
    margin-right: 1.25rem;
}

#married, #unmarried {
    height: 18px;
    margin-left: 2px;
    /* margin-bottom: 5px; */
    margin-right: 5px;
    cursor: pointer;
}

.marital .marry {
    margin-right: 25px;
}

.marry, .unmar {
    margin-top: -5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 7rem;
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 3px;
    background-color: lightsteelblue;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: lightslategray;
    color: white;
}

select {
    cursor: pointer;
}

input[type="date"] {
    cursor:pointer;
}


/* Laptop L-1440px */
/* Laptop 1024px */
/* Tablet 768px */
@media screen and (max-width: 769px) {
    .grid {
        font-size: large;
    }
}


/* Mobile L-425px */
@media screen and (max-width: 426px) {
    h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    p {
        font-size: 15px;
    }

    .form {
        width: 75vw;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
    }

    .grid > input, .grid > select, .grid > div {
        margin-top: 5px;
    }

    .btn {
        font-size: medium;
        width: 5.5rem;
    }
}


/* Mobile M-375px */
/* @media screen and (max-width: 375px), (min-width: 320px) {
    .marital {
        display: flex;
    }
} */


/* Mobile S-320px */
/* @media screen and (max-width: 320px) {
    .marital {
        font-size: 16px;
    }
} */